[33mcommit 201a3d3279fe6ce22c8af9cbc4255373e7fb2081[m[33m ([m[1;36mHEAD -> [m[1;32mmain[m[33m)[m
Author: Soleil Clems <ouisolclems@gmail.com>
Date:   Sun Oct 1 01:08:24 2023 +0200

    Making the website responsive

[33mcommit 5ff3c6bb79d3c5a9fcb1f2cd12f25f458f0749a5[m[33m ([m[1;31morigin/main[m[33m, [m[1;31morigin/HEAD[m[33m)[m
Author: Soleil Clems <ouisolclems@gmail.com>
Date:   Sat Sep 30 02:28:17 2023 +0200

    Writing all html content

[33mcommit b3326fc4621614921b03989364b7b48cafd38801[m
Author: Soleil Clems <ouisolclems@gmail.com>
Date:   Sat Sep 30 02:00:22 2023 +0200

    Can push all

[33mcommit 304f368baee314d69cda42f6948e62319cb892fd[m
Author: Soleil-Clems <127973263+Soleil-Clems@users.noreply.github.com>
Date:   Sat Sep 30 01:41:09 2023 +0200

    Initial commit
